/* reset  css */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp ,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*finish*/
:root{
    --main-color:#000000;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--bg);
}
section{
    padding:2rem 7%;
}
.header{
    width: auto;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    padding: 0 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    backface-visibility: hidden;
    transform: translateZ(0px);
}


nav .logo{
    width: 100px;
}
nav ul #ul {
    padding-left: 20px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    
}
nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
}
.icon #menu-btn{
    display: none;
}
 .content{
    text-align: center;
}
 .content h1{
    font-size: 10rem;
    color: aliceblue;
    font-weight: 600;
}
 .content h1:hover{
    -webkit-text-stroke: 2px aliceblue;
    color: transparent;
}
 .content p{
    color: aliceblue;
    font-size: 24px;
}
 .content .btn{
text-decoration: none;
display: inline-block;
color: #fff;
font-size: 20px;
border: 2px solid #fff;
padding: 14px 70px;
border-radius: 50px;
margin-top: 32px;
}
.content a:hover{
    background-color: #fff;
    color: black;
    opacity: 60%;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 1920px; 
    height: 892px;
}
.about .heading {
    text-align: center;
    font-size: 4rem;
    color:aliceblue;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.about .row2 {
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row2 .image{
    flex:1 1 45rem;
    height: 45rem;
    overflow: hidden;
    width: 100%;
}

.about .row2 .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .row2 .image:hover  img{
    transform: scale(1.2);
}
.about .row2 .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row2 .content h3{
    font-size: 3.5rem;
    color:#fff;
}

.about .row2 .content p{
    font-size: 1.8rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
}
.about .row1 {
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}
.about .row1 .image1{
    flex:1 1 45rem;
    height: 45rem;
    overflow: hidden;
    width: 100%;
}

.about .row1 .image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .row1 .image1:hover img{
    transform: scale(1.2);
}
.about .row1 .content1{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row1 .content1 h3{
    font-size: 3.5rem;
    color:#fff;
}

.about .row1 .content1 p{
    font-size: 1.8rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .heading {
    text-align: center;
    font-size: 4rem;
    color: aliceblue;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.menu .box-container .box img{
    height: 20rem;
    
}

.menu .box-container .box a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 32px;
}
.menu .box-container .box a:hover{
    background-color: #fff;
    color: black;
    opacity: 60%;
}
.menu .box-container .box h3{
    color: aliceblue;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: aliceblue;
    font-size: 2.5rem;
    padding:.5rem 0;
}
.menu .box-container .box:hover{
    background:#13131a;
}

.ürünlerimiz .heading {
    text-align: center;
    font-size: 4rem;
    color:aliceblue;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.ürünlerimiz .row {
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.ürünlerimiz .row .image{
    flex:1 1 40rem;
    height: 40rem;
    overflow: hidden;
    width: 100%;
}

.ürünlerimiz .row .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ürünlerimiz .row .content{
    flex:1 1 40rem;
    padding:2rem;
}

.ürünlerimiz .row .content h3{
    font-size: 3.5rem;
    color:#fff;
}

.ürünlerimiz .row .content p{
    font-size: 1.8rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
    text-align: center;
    padding: 10% 15%;
}
.ürünlerimiz .row1 {
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}
.ürünlerimiz .row1 .image1{
    flex:1 1 40rem;
    height: 40rem;
    overflow: hidden;
    width: 100%;
}

.ürünlerimiz .row1 .image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ürünlerimiz .row1 .content1{
    flex:1 1 40rem;
    padding:2rem;
}

.ürünlerimiz .row1 .content1 h3{
    font-size: 3.5rem;
    color:#fff;
}

.ürünlerimiz .row1 .content1 p{
    font-size: 1.8rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
    text-align: center;
    padding: 10% 15%;
}

.ürünlerimiz .row2 {
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}
.ürünlerimiz .row2 .image2{
    flex:1 1 40rem;
    height: 40rem;
    overflow: hidden;
    width: 100%;
}

.ürünlerimiz .row2 .image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ürünlerimiz .row2 .content2{
    flex:1 1 40rem;
    padding:2rem;
}

.ürünlerimiz .row2 .content2 h3{
    font-size: 3.5rem;
    color:#fff;
}

.ürünlerimiz .row2 .content2 p{
    font-size: 1.8rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
    text-align: center;
    padding: 10% 15%;
}
.galeri .heading {
    text-align: center;
    font-size: 4rem;
    color:aliceblue;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.galeri .box-container  img{
    height: 300px;
    width: 289px;
    margin: 10px;
    float: left;
}
.blogs .heading {
    text-align: center;
    font-size: 4rem;
    color:aliceblue;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.blogs .box-container .blog{
    border:var(--border);    
}
.blogs .box-container .blog .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}
.blogs .box-container .blog .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .blog .image img:hover{
    transform: scale(1.2);
}
.blogs .box-container .blog .content{
    padding:2rem;
}

.blogs .box-container .blog .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#f0f8ff;
    text-decoration: none;
}

.blogs .box-container .blog .content .title:hover{
    background: none;
}

.blogs .box-container .blog .content span{
    color:#d3ad7f ;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .blog .content p{
    font-size: 1.7rem;
    line-height: 1.8;
    color:aliceblue;
    padding:1rem 0;
}

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}
.contact .row form .btn{
    text-decoration: none;
    display: inline-block;
    background-color: var(--black);
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
}
.contact .row form .btn:hover{
    background-color: aliceblue;
    color: black;
    opacity: 60%;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    text-decoration: none;
    /* height: 5rem; */
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    /* border:var(--border); */
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    /* background-color: var(--main-color); */
    background-color: #fff;
    color: #13131a;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
    gap:1rem;
}

.footer .links a{
    text-decoration: none;
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 1.5rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

@media (max-width:768px){
    
}